<div class="container tw-p-6 tw-pt-0 tw-mx-auto tw-grid">
    <h2 class="tw-my-6 !tw-text-2xl tw-font-semibold tw-text-gray-700 :tw-text-gray-200">
        Projects
    </h2>
    <h4 class="!tw-text-xl tw-font-semibold !tw-text-green-500 :tw-text-gray-200">Form {{nameForm}}</h4>
    <form (ngSubmit)="onSubmit()" #formAdd="ngForm">
        <div class="">
            <div class="">
                <div class="tw-mb-4">
                    <label class="tw-block :tw-text-white tw-text-gray-700 tw-text-sm tw-font-bold tw-mb-2">
                        Category blog name <span class="!tw-text-red-500">*</span>
                    </label>
                    <input
                        class=" tw-appearance-none tw-border tw-rounded tw-w-full tw-py-2 tw-px-3 tw-text-gray-700 tw-leading-tight focus:tw-outline-none focus:-outline"
                        id="title-project" [(ngModel)]="category.name" name="name" type="text" />
                </div>
            </div>
        </div>
        <div class="tw-text-right">
            <button
                class="btnAdd tw-bg-blue-500 hover:tw-bg-blue-700 !tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded focus:tw-outline-none focus:-outline">
                Submit
            </button>
        </div>
    </form>

</div>