<div class="nav-main tw-bg-red-500 tw-fixed tw-z-10 tw-p-2 tw-rounded-full ">
    <ul class="tw-space-x-4">
        <li class="tw-p-0"><a href="#banner" class="!tw-text-primary-light-ann tw-rounded-full tw-p-2 tw-px-[10px]">
                <i class="bi bi-house-door"></i>
            </a></li>
        <li class="tw-p-0"><a href="#introduce" class="!tw-text-primary-light-ann tw-rounded-full tw-p-2 tw-px-[10px]">
                <i class="bi bi-person-fill"></i>
            </a></li>
        <li class="tw-p-0"><a href="#skills" class="!tw-text-primary-light-ann tw-rounded-full tw-p-2 tw-px-[10px]">
                <i class="bi bi-gear"></i>
            </a></li>
        <li class="tw-p-0"><a href="#service" class="!tw-text-primary-light-ann tw-rounded-full tw-p-2 tw-px-[10px]">
                <i class="bi bi-magic"></i>
            </a></li>
        <li class="tw-p-0"><a href="#project" class="!tw-text-primary-light-ann tw-rounded-full tw-p-2 tw-px-[10px]">
                <i class="bi bi-window-stack"></i>
            </a></li>
        <li class="tw-p-0"><a href="#blog" class="!tw-text-primary-light-ann tw-rounded-full tw-p-2 tw-px-[10px]">
                <i class="bi bi-pen"></i>
            </a></li>
        <li class="tw-p-0"><a href="#contact" class="!tw-text-primary-light-ann tw-rounded-full tw-p-2 tw-px-[10px]">
                <i class="bi bi-chat"></i>
            </a></li>
    </ul>
</div>