<div id="service" class="tw-mt-24 tw-px-10">
    <div class="md:tw-grid lg:tw-grid-cols-3 tw-gap-6 ">
        <div class="tw-py-16 tw-text-center md:tw-text-left">
            <h2 class="tw-font-bold tw-text-2xl md:tw-text-3xl">My <span
                    class="tw-text-thirty-ann tw-text-2xl md:tw-text-3xl">awesome</span> services</h2>
            <span class="tw-inline-block md:tw-w-[260px] lg:tw-w-[350px] tw-text-primary-light-ann tw-pt-2">Lorem ipsum
                dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</span>
        </div>
        <div class="tw-col-span-2 tw-relative">
            <div class="tw-grid md:tw-grid-cols-2">
                <div class="">
                    <div
                        class="tw-m-auto md:tw-m-0 tw-flex tw-flex-col tw-justify-between tw-items-center tw-py-7 tw-px-2 reg-filter 
                                tw-text-center tw-w-64 tw-h-72 tw-rounded-xl md:-tw-translate-x-10 lg:tw-translate-x-20 xl:tw-translate-x-32">
                        <div class="">
                            <i class="bi bi-window tw-text-7xl tw-text-thirty-ann"></i>
                        </div>
                        <h4 class="tw-font-bold">Frontend developer 1</h4>
                        <span class="tw-block tw-text-sm tw-font-light">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit</span>
                        <div class="tw-relative">
                            <button class="filter-btn-light tw-inline-block tw-top-0 tw-right-0 tw-left-0 tw-bg-primary-ann
                                    tw-border tw-border-primary-ann tw-py-1 tw-px-2 tw-rounded-3xl">Contact me</button>
                            <button 
                                class="tw-border tw-border-primary-ann tw-absolute tw-top-0 tw-right-0 tw-left-0 tw-inline-block tw-rounded-3xl tw-py-1 tw-px-2 tw-text-sm">
                                <a href="/#contact" class="hover:tw-text-white">Contact me</a>
                            </button>
                        </div>
                    </div>
                    <div
                        class="tw-m-auto tw-mt-12  tw-flex tw-flex-col tw-justify-between tw-items-center tw-py-7 tw-px-2 reg-filter 
                                tw-text-center tw-w-64 tw-h-72 tw-rounded-xl md:-tw-translate-y- md:-tw-translate-x-20 md:tw-mt-20">
                        <div class="">
                            <i class="bi bi-window tw-text-7xl tw-text-thirty-ann"></i>
                        </div>
                        <h4 class="tw-font-bold">Frontend developer 2</h4>
                        <span class="tw-block tw-text-sm tw-font-light">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit</span>
                        <div class="tw-relative">
                            <button
                                class="filter-btn-light tw-inline-block tw-top-0 tw-right-0 tw-left-0 tw-bg-primary-ann
                                                        tw-border tw-border-primary-ann tw-py-1 tw-px-2 tw-rounded-3xl">Contact
                                me</button>
                            <button 
                                class="tw-border tw-border-primary-ann tw-absolute tw-top-0 tw-right-0 tw-left-0 tw-inline-block tw-rounded-3xl tw-py-1 tw-px-2 tw-text-sm">
                                <a href="/#contact" class="hover:tw-text-white">Contact me</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tw-text-center md:tw-text-right">
                    <div class="tw-inline-block">
                        <div
                            class="tw-m-auto md:tw-m-0 tw-flex tw-flex-col tw-justify-between tw-items-center 
                                    tw-py-7 tw-px-2 tw-mt-12 reg-filter tw-text-center tw-w-64 tw-h-72 tw-rounded-xl md:tw-translate-y-[100px] ">
                            <div class="">
                                <i class="bi bi-window tw-text-7xl tw-text-thirty-ann"></i>
                            </div>
                            <h4 class="tw-font-bold">Frontend developer 3</h4>
                            <span class="tw-block tw-text-sm tw-font-light">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit</span>
                            <div class="tw-relative">
                                <button
                                    class="filter-btn-light tw-inline-block tw-top-0 tw-right-0 tw-left-0 tw-bg-primary-ann
                                                            tw-border tw-border-primary-ann tw-py-1 tw-px-2 tw-rounded-3xl">Contact
                                    me</button>
                                <button
                                    class="tw-border tw-border-primary-ann tw-absolute tw-top-0 tw-right-0 tw-left-0 tw-inline-block tw-rounded-3xl tw-py-1 tw-px-2 tw-text-sm">
                                    <a href="/#contact" class="hover:tw-text-white">Contact me</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>