<form action="" class="form-bgr-ann tw-my-3 tw-inline-block tw-rounded-2xl tw-p-8">
    <div class="">
        <label htmlFor="" class="tw-block tw-text-left tw-text-sm">Your name</label>
        <input type="text"
            class="tw-block tw-bg-transparent tw-my-1 tw-text-left tw-max-w-full tw-w-80 tw-rounded-lg tw-p-[10px] tw-text-sm tw-border tw-border-white tw-outline-none focus:tw-border focus:tw-border-thirty-ann" />
    </div>
    <div class="tw-mt-2">
        <label htmlFor="" class="tw-block tw-text-left tw-text-sm">Email</label>
        <input type="text"
            class="tw-block tw-bg-transparent tw-my-1 tw-text-left tw-max-w-full tw-w-80 tw-rounded-lg tw-p-[10px] tw-text-sm tw-border tw-border-white tw-outline-none focus:tw-border focus:tw-border-thirty-ann" />
    </div>
    <div class="tw-mt-2">
        <label htmlFor="" class="tw-block tw-text-left tw-text-sm">Message</label>
        <textarea name="" id="" cols="30" rows="10"
            class="tw-max-h-44 tw-block tw-bg-transparent tw-my-1 tw-text-left tw-max-w-full tw-w-80 tw-rounded-lg tw-p-[10px] tw-text-sm tw-border tw-border-white tw-outline-none focus:tw-border focus:tw-border-thirty-ann"></textarea>
    </div>
    <button class="tw-rounded-lg tw-bg-primary-ann tw-border tw-border-primary-ann tw-p-3 tw-px-4
                   tw-mt-2 tw-py-2">Send</button>
</form>