<div class="tw-grid md:tw-grid-cols-2 tw-gap-3 tw-pt-6">
    <div class="md:tw-grid md:tw-grid-cols-4 tw-order-2 md:tw-order-1">
        <div class="tw-flex tw-items-end tw-order- md:tw-order-1">
            <ul class="tw-m-auto md:tw-m-0 md:tw-flex-col md:tw-items-start">
                <li class="md:tw-p-0">
                    <a routerLink="" class="tw-text-left tw-text-secondary-ann md:tw-pt-6">
                        <i class="fa-brands fa-figma tw-text-2xl tw-duration-300 banner-icon"></i>
                    </a>
                </li>
                <li class="md:tw-p-0">
                    <a routerLink="" class="tw-text-left tw-text-secondary-ann md:tw-pt-6">
                        <i class="bi bi-github tw-text-2xl tw-duration-300 banner-icon"></i>
                    </a>
                </li>
                <li class="md:tw-p-0">
                    <a routerLink="" class="tw-text-left tw-text-secondary-ann md:tw-pt-6">
                        <i class="bi bi-linkedin tw-text-2xl tw-duration-300 banner-icon"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tw-my-3 tw-col-span-3 tw-items-end tw-order-1 md:tw-flex md:tw-my-0 md:tw-order-2">
            <div class="tw-text-center md:tw-text-left">
                <h2 class="tw-text-3xl md:tw-text-6xl lg:tw-text-7xl tw-font-bold">Hi, I’m Anh</h2>
                <h2 class="tw-text-3xl md:tw-text-6xl lg:tw-text-7xl tw-font-bold tw-uppercase">FRONTEND DEVELOPER
                </h2>
            </div>
        </div>
        <div class="tw-hidden md:tw-block md:tw-order-3">

        </div>
        <div class="tw-col-span-3 tw-mt-1 md:tw-flex tw-items-end tw-order-4 tw-text-center md:tw-order-4">
            <button class="tw-rounded-lg tw-bg-transparent tw-border tw-border-primary-ann tw-p-3 tw-px-4
                tw-duration-200 filter-btn tw-inline-block tw-btn tw-font-normal hover:tw-border-primary-ann
                hover:tw-bg-transparent">Download CV</button>
        </div>
    </div>
    <div class="tw-flex tw-order-1 md:tw-order-2">
        <img src="https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2020/2/25/786783/87381515_14570570377.jpg"
            class="tw-m-auto tw-inline-block tw-rounded-full tw-w-56 tw-h-56 tw-object-cover md:tw-w-64 md:tw-h-64 lg:tw-w-80 lg:tw-h-80"
            alt="" />
    </div>
</div>