<div class="tw-mt-24 tw-px-10">
    <div class="tw-text-center tw-mb-10">
        <h2 class="tw-font-bold tw-text-2xl md:tw-text-3xl">My skills</h2>
        <span class="tw-inline-block tw-w-[350px] tw-text-primary-light-ann tw-pt-2 ">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit consectetur adipiscing elit</span>
    </div>
    <div class="tw-grid tw-grid-cols-3 sm:tw-grid-cols-4 md:tw-grid-cols-5 tw-gap-5 tw-text-primary-light-ann">
        <div class="tw-text-center">
            <div class="">
                <img class="tw-inline-block tw-w-20 tw-h-20 tw-object-cover"
                    src="https://techvccloud.mediacdn.vn/2018/11/23/js-15429579443112042672363-crop-1542957949936317424252.png"
                    alt="" />
            </div>
            <span class="tw-text-primary-light-ann tw-inline-block tw-py-2">Javascript</span>
        </div>
        <div class="tw-text-center">
            <div class="">
                <img class="tw-inline-block tw-w-20 tw-h-20 tw-object-cover"
                    src="https://techvccloud.mediacdn.vn/2018/11/23/js-15429579443112042672363-crop-1542957949936317424252.png"
                    alt="" />
            </div>
            <span class="tw-text-primary-light-ann tw-inline-block tw-py-2">Javascript</span>
        </div>
        <div class="tw-text-center">
            <div class="">
                <img class="tw-inline-block tw-w-20 tw-h-20 tw-object-cover"
                    src="https://techvccloud.mediacdn.vn/2018/11/23/js-15429579443112042672363-crop-1542957949936317424252.png"
                    alt="" />
            </div>
            <span class="tw-text-primary-light-ann tw-inline-block tw-py-2">Javascript</span>
        </div>
        <div class="tw-text-center">
            <div class="">
                <img class="tw-inline-block tw-w-20 tw-h-20 tw-object-cover"
                    src="https://techvccloud.mediacdn.vn/2018/11/23/js-15429579443112042672363-crop-1542957949936317424252.png"
                    alt="" />
            </div>
            <span class="tw-text-primary-light-ann tw-inline-block tw-py-2">Javascript</span>
        </div>
        <div class="tw-text-center">
            <div class="">
                <img class="tw-inline-block tw-w-20 tw-h-20 tw-object-cover"
                    src="https://techvccloud.mediacdn.vn/2018/11/23/js-15429579443112042672363-crop-1542957949936317424252.png"
                    alt="" />
            </div>
            <span class="tw-text-primary-light-ann tw-inline-block tw-py-2">Javascript</span>
        </div>
        <div class="tw-text-center">
            <div class="">
                <img class="tw-inline-block tw-w-20 tw-h-20 tw-object-cover"
                    src="https://techvccloud.mediacdn.vn/2018/11/23/js-15429579443112042672363-crop-1542957949936317424252.png"
                    alt="" />
            </div>
            <span class="tw-text-primary-light-ann tw-inline-block tw-py-2">Javascript</span>
        </div>
        <div class="tw-text-center">
            <div class="">
                <img class="tw-inline-block tw-w-20 tw-h-20 tw-object-cover"
                    src="https://techvccloud.mediacdn.vn/2018/11/23/js-15429579443112042672363-crop-1542957949936317424252.png"
                    alt="" />
            </div>
            <span class="tw-text-primary-light-ann tw-inline-block tw-py-2">Javascript</span>
        </div>
        <div class="tw-text-center">
            <div class="">
                <img class="tw-inline-block tw-w-20 tw-h-20 tw-object-cover"
                    src="https://techvccloud.mediacdn.vn/2018/11/23/js-15429579443112042672363-crop-1542957949936317424252.png"
                    alt="" />
            </div>
            <span class="tw-text-primary-light-ann tw-inline-block tw-py-2">Javascript</span>
        </div>
        <div class="tw-text-center">
            <div class="">
                <img class="tw-inline-block tw-w-20 tw-h-20 tw-object-cover"
                    src="https://techvccloud.mediacdn.vn/2018/11/23/js-15429579443112042672363-crop-1542957949936317424252.png"
                    alt="" />
            </div>
            <span class="tw-text-primary-light-ann tw-inline-block tw-py-2">Javascript</span>
        </div>
        <div class="tw-text-center">
            <div class="">
                <img class="tw-inline-block tw-w-20 tw-h-20 tw-object-cover"
                    src="https://techvccloud.mediacdn.vn/2018/11/23/js-15429579443112042672363-crop-1542957949936317424252.png"
                    alt="" />
            </div>
            <span class="tw-text-primary-light-ann tw-inline-block tw-py-2">Javascript</span>
        </div>
    </div>
</div>