<div class="tw-mt-24">
    <div class="">
        <div class="tw-flex tw-justify-between">
           <h2 class="tw-text-2xl">Related blog</h2>
        </div>
        <div class="tw-grid tw-mt-10 tw-gap-6 sm:tw-grid-cols-2 md:tw-gap-6 lg:tw-grid-cols-4 lg:tw-gap-8">
            <div
                class="project-reg-filter tw-border-none tw-fx tw-flex-col tw-justify-between tw-items-c tw-text-center tw-p-6">
                <a routerLink="blog/item.id}}">
                    <img class="tw-w-full tw-h-[160px] tw-object-cover tw-rounded-xl" src=item.img}} alt="" />
                </a>
                <h3 class="tw-mt-2">
                    <a routerLink="blog/item.id}}" class="tw-block tw-w-full tw-truncate">item.name}}</a>
                </h3>
                <div class="tw-text-left tw-space-y-2">
                    <div class="tw-space-x-2">
                        <span class="tw-py-[2px] tw-px-1 tw-rounded-full tw-bg-thirty-ann tw-text-xs">3/2022</span>
                        <span class="tw-text-xs tw-text-gray-400">HTML, CSS</span>
                    </div>
                    <p class="tw-textjustify tw-text-sm tw-text-gray-400">item.descShort}}</p>
                </div>
            </div>
            <div
                class="project-reg-filter tw-border-none tw-fx tw-flex-col tw-justify-between tw-items-c tw-text-center tw-p-6">
                <a routerLink="blog/item.id}}">
                    <img class="tw-w-full tw-h-[160px] tw-object-cover tw-rounded-xl" src=item.img}} alt="" />
                </a>
                <h3 class="tw-mt-2">
                    <a routerLink="blog/item.id}}" class="tw-block tw-w-full tw-truncate">item.name}}</a>
                </h3>
                <div class="tw-text-left tw-space-y-2">
                    <div class="tw-space-x-2">
                        <span class="tw-py-[2px] tw-px-1 tw-rounded-full tw-bg-thirty-ann tw-text-xs">3/2022</span>
                        <span class="tw-text-xs tw-text-gray-400">HTML, CSS</span>
                    </div>
                    <p class="tw-textjustify tw-text-sm tw-text-gray-400">item.descShort}}</p>
                </div>
            </div>
            <div
                class="project-reg-filter tw-border-none tw-fx tw-flex-col tw-justify-between tw-items-c tw-text-center tw-p-6">
                <a routerLink="blog/item.id}}">
                    <img class="tw-w-full tw-h-[160px] tw-object-cover tw-rounded-xl" src=item.img}} alt="" />
                </a>
                <h3 class="tw-mt-2">
                    <a routerLink="blog/item.id}}" class="tw-block tw-w-full tw-truncate">item.name}}</a>
                </h3>
                <div class="tw-text-left tw-space-y-2">
                    <div class="tw-space-x-2">
                        <span class="tw-py-[2px] tw-px-1 tw-rounded-full tw-bg-thirty-ann tw-text-xs">3/2022</span>
                        <span class="tw-text-xs tw-text-gray-400">HTML, CSS</span>
                    </div>
                    <p class="tw-textjustify tw-text-sm tw-text-gray-400">item.descShort}}</p>
                </div>
            </div>
        </div>
    </div>
</div>